<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <servlet-class>controller.ChangeAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLogin</servlet-name>
        <servlet-class>controller.GoogleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOldPassServlet</servlet-name>
        <servlet-class>controller.ConfirmOldPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>controller.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCertificationServlet</servlet-name>
        <servlet-class>controller.EditCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCertificationServlet</servlet-name>
        <servlet-class>controller.AddCertificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <url-pattern>/ChangeAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLogin</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <servlet-class>controller.EmailVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOldPassServlet</servlet-name>
        <url-pattern>/ConfirmOldPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/RequestPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCertificationServlet</servlet-name>
        <url-pattern>/EditCertificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCertificationServlet</servlet-name>
        <url-pattern>/AddCertificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
