<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <servlet-class>controller.ChangeAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLogin</servlet-name>
        <servlet-class>controller.GoogleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>controller.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOldPassServlet</servlet-name>
        <servlet-class>controller.ConfirmOldPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <servlet-class>controller.EmailVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCertificationServlet</servlet-name>
        <servlet-class>controller.EditCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>controller.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCertificationServlet</servlet-name>
        <servlet-class>controller.ViewCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCertificationServlet</servlet-name>
        <servlet-class>controller.AddCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTrainerServlet</servlet-name>
        <servlet-class>controller.SearchTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPackageServlet</servlet-name>
        <servlet-class>controller.SearchPackageServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>EditCertificationServlet</servlet-name>
        <servlet-class>controller.EditCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCertificationServlet</servlet-name>
        <servlet-class>controller.DeleteCertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagementServlet</servlet-name>
        <servlet-class>controller.AdminManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <url-pattern>/ChangeAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLogin</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/RequestPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOldPassServlet</servlet-name>
        <url-pattern>/ConfirmOldPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <url-pattern>/EmailVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCertificationServlet</servlet-name>
        <url-pattern>/ViewCertificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCertificationServlet</servlet-name>
        <url-pattern>/AddCertificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCertificationServlet</servlet-name>
        <url-pattern>/EditCertificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCertificationServlet</servlet-name>
        <url-pattern>/addCertification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTrainerServlet</servlet-name>
        <url-pattern>/searchTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPackageServlet</servlet-name>
        <url-pattern>/searchPackage</url-pattern>
    </servlet-mapping>

    <!-- Single Valid Session Config -->
    <servlet-mapping>
        <servlet-name>DeleteCertificationServlet</servlet-name>
        <url-pattern>/DeleteCertificationServlet</url-pattern>
      </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagementServlet</servlet-name>
        <url-pattern>/AdminManagementServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
